# Case FortBrasil
***

###  **Legenda:**
- **ID_CONTA:** Identificador da conta;
- **DT_VENCIMENTO:** Data vencimento da fatura;
- **DS_ROLAGEM:** Indicador que define se o cliente pagou a fatura do mês anterior ou não. Se o valor for *FX0* quer dizer que o cliente pagou a fatura do mês anterior e se o valor for *FX1* quer dizer que o cliente *não* pagou a fatura do mês anterior;
- **VL_FATURA:** Valor da Fatura atual.

## Questão 01
### 1.1. Qual o percentual de faturas emitidas por mês no qual os clientes não pagaram a fatura anterior? 
***

### Importação das bibliotecas

In [102]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### Leitura da base de dados

In [103]:
df_inicial = pd.read_csv('Questão 1 - Base.txt', sep = "\t")
df_inicial.head()

   ID_CONTA DT_VENCIMENTO DS_ROLAGEM  VL_FATURA
0    402467    2019-01-01        FX0     210.00
1    403001    2019-01-01        FX1    1097.18
2    403499    2019-01-01        FX0    1209.88
3    403670    2019-01-01        FX0     667.40
4    404183    2019-01-01        FX1    1239.52

### Verificação de NaN e nulos

In [104]:
# Sem registros de NaN nas colunas
df_inicial.isna().sum()

ID_CONTA         0
DT_VENCIMENTO    0
DS_ROLAGEM       0
VL_FATURA        0
dtype: int64

In [120]:
# Sem registros de nulos nas colunas
df_inicial.isnull().sum()

ID_CONTA         0
DT_VENCIMENTO    0
DS_ROLAGEM       0
VL_FATURA        0
dtype: int64

## Solução
-> Explicar
1. Filtrar colunas a serem usadas
2. Pegar cada mês em que a fatura não foi paga
3. Somar a quantidade de faturas não pagas de cada mês
4. Calcular percentual desejado  
O primeiro passo é observar que tipo

### Filtrar colunas importantes a serem usadas

In [105]:
df_filtrado = df_inicial[['DT_VENCIMENTO','DS_ROLAGEM']]
df_filtrado.head()

  DT_VENCIMENTO DS_ROLAGEM
0    2019-01-01        FX0
1    2019-01-01        FX1
2    2019-01-01        FX0
3    2019-01-01        FX0
4    2019-01-01        FX1

### Verificar os tipos dos dados (não usar)

In [106]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2728249 entries, 0 to 2728248
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   DT_VENCIMENTO  object
 1   DS_ROLAGEM     object
dtypes: object(2)
memory usage: 41.6+ MB

Perceba que o 'DT_VENCIMENTO' é do tipo 'object'. Para realizarmos o que se pede, devemos tranformar tais dados para o tipo 'datetime'.

### Transformação 'DT_VENCIMENTO' de object para datetime
mudar só para mês

In [112]:
df_filtrado['DT_VENCIMENTO'] = (pd.to_datetime(df_filtrado['DT_VENCIMENTO'])).dt.month
df_filtrado.head()

<ipython-input-112-0ac0babe4212>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['DT_VENCIMENTO'] = (pd.to_datetime(df_filtrado['DT_VENCIMENTO'])).dt.month

   DT_VENCIMENTO DS_ROLAGEM  CONTAGEM
0              1        FX0         1
1              1        FX1         1
2              1        FX0         1
3              1        FX0         1
4              1        FX1         1

In [111]:
df_filtrado['CONTAGEM'] = 1
df_filtrado.head()

<ipython-input-111-9e5fa145d02d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['CONTAGEM'] = 1

   DT_VENCIMENTO DS_ROLAGEM  CONTAGEM
0              1        FX0         1
1              1        FX1         1
2              1        FX0         1
3              1        FX0         1
4              1        FX1         1

In [110]:
df_agrupamento = df_filtrado.groupby(['DT_VENCIMENTO','DS_ROLAGEM'])['CONTAGEM'].sum()
df_agrupamento.head()

DT_VENCIMENTO  DS_ROLAGEM
1              FX0           290548
               FX1            22835
2              FX0           285921
               FX1            27928
3              FX0           273886
Name: CONTAGEM, dtype: int64

### Graficamente:

In [ ]:
# Gráfico

### Porcentagem:

In [118]:
#df_taxa['TAXA DE FX1 (%)'] = round((dfcase[dfcase['DS_ROLAGEM']=='FX1'].groupby('MES')['DS_ROLAGEM'].count()/dfcase.groupby('MES')['DS_ROLAGEM'].count())*100
#df_porcentagem['(%) Faturas não pagas'] = df_agrupamento[df_agrupamento['DS_ROLAGEM'] == 'FX1'].groupy('DT_VENCIMENTO')['DS_ROLAGEM'].count()

### 1.2. Tendo como referência todos os clientes que tiveram fatura emitida no mês de setembro, gere uma base para esses clientes com os seguintes calculados:
- Total de faturas emitidas nos últimos 6 meses (sem contar com a fatura de setembro);
- O valor médio de fatura nos últimos 6 meses (sem contar com a fatura de setembro);
- Quantidade de vezes que ele ficou sem pagar a fatura anterior nos últimos 6 meses (sem contar com a fatura de setembro). 
***